@import '../../node_modules/@blueprintjs/core/lib/scss/variables';

.drawer {

  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  background-color: $pt-app-background-color;

  .section {

    display: flex;
    flex-direction: column;
    transform: translate3d(0, 0, 0);

    &:last-child {
      margin-bottom: 14px;
    }

    &.collapsed {
      border-bottom: 1px solid $pt-divider-black;
    }

    .header {

      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 7px 16px;
      color: $pt-heading-color;
      font-weight: bold;
      min-height: 44px;

      .title {
        font-size: 14px;
        letter-spacing: 0.1em;
      }

    }

    .body {

      display: flex;
      flex-direction: column;
      padding: 0 21px;
      font-size: 12px;

      .bp3-button-group {
          .bp3-popover-wrapper {
            flex: 0 1 auto;
          }
      }

      .bp3-button-text {
        font-size: 12px;
      }

      .bp3-divider {
        margin-bottom: 14px;
      }

      .bp3-form-group {
        justify-content: space-between;
        max-height: 30px;
        margin: 0 0 4px;
      }

      .bp3-fill {
        input {
          width: 100% !important;
        }
      }

      .bp3-html-table-condensed {
        td {
          padding-top: 2px;
          padding-bottom: 2px;
        }
        th {
          padding-top: 4px;
          padding-bottom: 4px;
        }
      }

      .bp3-label {
        flex: 1 0 auto;
      }

      .bp3-numeric-input {
        .bp3-button-group.bp3-vertical {
          .bp3-button:last-child {
            margin-top: -1px;
          }
        }
      }

      .bp3-popover {
        width: 100%;
      }

      .bp3-transition-container {
        width: calc(100% - 42px);
      }

      .bp3-tree-node-content {
        height: 26px;
      }

      .bp3-tree-node-label {
        display: flex;
      }

      .centered {
        display: flex;
        justify-content: center;
      }

      .fill {
        width: 100%;
      }

      > button {
        margin: 8px;
        box-shadow: 0 0 0 1px rgba(167, 182, 194, 0.3),
                    0 0 0 rgba($black, 0),
                    0 0 0 rgba($black, 0);
      }

      input.bp3-input, input.bp3-input-ghost {
        font-size: 12px;
        width: 100px;
      }

      select {
        font-size: 12px;
      }

    }

  }

}

.bp3-tree {
  padding-bottom: 1em;
}
