@import "../../node_modules/@blueprintjs/core/lib/scss/variables";

.evaluator {

  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  overflow-y: hidden;

  .evaluator-output {

    overflow-y: auto;
    height: 100%;
    max-height: 100%;

    .bp3-callout {
      font-family: 'Fira Code', monospace;
      font-size: 12px;
      line-height: 1.33;
      background-color: $pt-app-background-color;

      .bp3-heading {
        font-size: 14px;
        padding-bottom: 0.2em;
      }
      .bp3-icon {
        top: 14px;
        left: 14px;
      }
    }

  }

  .evaluator-input {

    display: flex;
    min-height: 200px;
    font-family: 'Fira Code', monospace;
    font-size: 14px;
    border-top: 2px solid rgba($dark-gray5, 0.3);

    textarea {
      flex: 1 0 auto;
      min-height: 125px;
      resize: none;
      outline: none;
      padding: 0.75em;
      overflow-wrap: break-word;
      background: $pt-code-background-color;
      color: $pt-text-color;
      border: none;
    }

  }

}
