@import '~@blueprintjs/core/lib/scss/variables';

.sig-tag {
  background-color: $blue3 !important;
  span {
    color: $light-gray5;
    text-align: center;
  }
}

.field-tag {
  background-color: $gray1 !important;
  span {
    color: $light-gray5;
    text-align: center;
  }
}

.skolem-tag {
  background-color: $green3 !important;
  span {
    color: $light-gray5;
    text-align: center;
  }
}
