@import '~@blueprintjs/core/lib/scss/variables';

.drawer {

  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  background-color: $pt-app-background-color;

  .section {

    display: flex;
    flex-direction: column;
    transform: translate3d(0, 0, 0);

    &.collapsed {
      border-bottom: 1px solid $pt-divider-black;
    }

    .header {

      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 7px 14px;
      color: $pt-heading-color;
      font-weight: bold;

      .title {
        font-size: 12px;
        letter-spacing: 0.1em;
      }

    }

    .body {

      display: flex;
      flex-direction: column;
      padding: 0 21px;
      font-size: 12px;

      .bp3-divider {
        margin-bottom: 14px;
      }

      .bp3-form-group{
        justify-content: space-between;
        max-height: 30px;
        margin: 0 0 10px;
      }

      .bp3-label {
        flex: 1 0 auto;
      }

      .bp3-popover {
        width: 100%;
      }

      .bp3-transition-container {
        width: calc(100% - 42px);
      }

      .bp3-tree-node-label {
        display: flex;
      }

      .centered {
        display: flex;
        justify-content: center;
      }

      .fill {
        width: 100%;
      }

      input.bp3-input {
        width: 100px;
      }

    }

  }

}

.bp3-tree {
  padding-bottom: 1em;
}
