@import '~@blueprintjs/core/lib/scss/variables';

.projections {

  display: grid;
  grid-template-columns: auto 1fr auto;
  row-gap: 0.5em;
  column-gap: 0.5em;
  align-items: center;
  margin-bottom: 14px;

  .bp3-html-select {
    box-shadow: $pt-elevation-shadow-0;
    select {
      font-size: $pt-font-size-small;
    }
  }

  .bp3-text-overflow-ellipsis {
    margin-right: 0.5em;
  }

}
