@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/scss/variables";
@import "~@blueprintjs/select/lib/css/blueprint-select.css";
@import "drawer";
@import "evaluator";
@import "navbar";
@import "sidebar";
@import "split";
@import "stage";
@import "tables";
@import "../fonts/fira";

html, body {
  display: flex;
  width: 100%;
  height: 100%;
}

body {
  padding-top: $pt-navbar-height;
  padding-left: $st-sidebar-width;
  overflow: hidden;
}

.sterling {
  width: 100%;
  height: 100%;
  display: flex;
}
